Checks: '-*,readability-identifier-naming,readability-magic-numbers,readability-function-size,bugprone-*,clang-analyzer-*,-clang-analyzer-core.FixedAddressDereference,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-bugprone-easily-swappable-parameters,-bugprone-unchecked-string-to-number-conversion'
WarningsAsErrors: ''
HeaderFilterRegex: '.*/firmware/(src|include)/.*'
CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.GlobalVariableIgnoredRegexp
    value:           '.*'
  - key:             readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value:           '^sync_.*$'
  - key:             readability-identifier-naming.TypedefCase
    value:           lower_case
  - key:             readability-identifier-naming.TypedefSuffix
    value:           _t
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-function-size.LineThreshold
    value:           100
