Checks: '-*,readability-identifier-naming,readability-magic-numbers,readability-function-size,bugprone-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.TypedefCase
    value:           lower_case
  - key:             readability-identifier-naming.TypedefSuffix
    value:           _t
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-function-size.LineThreshold
    value:           100

